STM32F1_ra01_receiver/Debug/*.d
STM32F1_ra01_receiver/Debug/*.o
STM32F1_ra01_receiver/Debug/*.list
STM32F1_ra01_receiver/Debug/*.a
STM32F1_ra01_receiver/Debug/*.map
STM32F1_ra01_receiver/Debug/*.elf
STM32F1_ra01_receiver/Debug/*.hex

STM32F1_ra01_receiver/Debug/src/*.d
STM32F1_ra01_receiver/Debug/src/*.o
STM32F1_ra01_receiver/Debug/src/*.list
STM32F1_ra01_receiver/Debug/src/*.a
STM32F1_ra01_receiver/Debug/src/*.map
STM32F1_ra01_receiver/Debug/src/*.elf
STM32F1_ra01_receiver/Debug/src/*.hex

STM32F1_ra01_sender/Debug/*.d
STM32F1_ra01_sender/Debug/*.o
STM32F1_ra01_sender/Debug/*.list
STM32F1_ra01_sender/Debug/*.a
STM32F1_ra01_sender/Debug/*.map
STM32F1_ra01_sender/Debug/*.elf
STM32F1_ra01_sender/Debug/*.hex

STM32F1_ra01_sender/Debug/src/*.d
STM32F1_ra01_sender/Debug/src/*.o
STM32F1_ra01_sender/Debug/src/*.list
STM32F1_ra01_sender/Debug/src/*.a
STM32F1_ra01_sender/Debug/src/*.map
STM32F1_ra01_sender/Debug/src/*.elf
STM32F1_ra01_sender/Debug/src/*.hex

STM32F1_ra01_receiver/*.d
STM32F1_ra01_receiver/*.o
STM32F1_ra01_receiver/*.list
STM32F1_ra01_receiver/*.a
STM32F1_ra01_receiver/*.map
STM32F1_ra01_receiver/*.elf
STM32F1_ra01_receiver/*.hex

STM32F1_ra01_sender/*.d
STM32F1_ra01_sender/*.o
STM32F1_ra01_sender/*.list
STM32F1_ra01_sender/*.a
STM32F1_ra01_sender/*.map
STM32F1_ra01_sender/*.elf
STM32F1_ra01_sender/*.hex

stm32f103c8t6_board_hal_lib/Debug/*.d
stm32f103c8t6_board_hal_lib/Debug/*.o
stm32f103c8t6_board_hal_lib/Debug/*.list
stm32f103c8t6_board_hal_lib/Debug/*.a
stm32f103c8t6_board_hal_lib/Debug/*.map
stm32f103c8t6_board_hal_lib/Debug/*.elf
stm32f103c8t6_board_hal_lib/Debug/*.hex

stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.d
stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.o
stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.list
stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.a
stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.map
stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.elf
stm32f103c8t6_board_hal_lib/Debug/HAL_Driver/Src/*.hex