**/**/*.d
**/**/*.o
**/**/*.list
**/**/*.a
**/**/*.map
**/**/*.elf
**/**/*.hex
**/**/*.bin

**/**/**/*.d
**/**/**/*.o
**/**/**/*.list
**/**/**/*.a
**/**/**/*.map
**/**/**/*.elf
**/**/**/*.hex
**/**/**/*.bin

**/*.d
**/*.o
**/*.list
**/*.a
**/*.map
**/*.elf
**/*.hex
**/*.bin

**/**/**/**/*.d
**/**/**/**/*.o
**/**/**/**/*.list
**/**/**/**/*.a
**/**/**/**/*.map
**/**/**/**/*.elf
**/**/**/**/*.hex
**/**/**/**/*.bin