**/**/*.d
**/**/*.o
**/**/*.list
**/**/*.a
**/**/*.map
**/**/*.elf
**/**/*.hex

**/**/**/*.d
**/**/**/*.o
**/**/**/*.list
**/**/**/*.a
**/**/**/*.map
**/**/**/*.elf
**/**/**/*.hex

**/*.d
**/*.o
**/*.list
**/*.a
**/*.map
**/*.elf
**/*.hex

**/**/**/**/*.d
**/**/**/**/*.o
**/**/**/**/*.list
**/**/**/**/*.a
**/**/**/**/*.map
**/**/**/**/*.elf
**/**/**/**/*.hex